/*
 * Copyright (C) 1995, 1996,
 *
 * Department of Computing Science,
 * University of Newcastle upon Tyne,
 * Newcastle upon Tyne,
 * UK.
 *
 * $Id$
 */

/*
 *  JavaArjuna.tmpl
 */

/*
 *  Inclusion of Overriding definitions.
 */

#include <JavaArjuna_Override.def>

/*
 *  Inclusion of Programs definitions.
 */

#include <JavaArjuna_Prog.def>

/*
 *  Inclusion of Rule definitions.
 */

#include <JavaArjuna_Rule.def>

JAVAC = JavacProg
