#
# Copyright (C) 1996, 1997,
#
# Department of Computing Science,
# University of Newcastle upon Tyne,
# Newcastle upon Tyne,
# UK.
#

#
# $Id: MakefileBoot.tmpl,v 1.2 1997/04/22 12:28:16 nsmw Exp $
#

MAKE           = make
IMAKE          = imake
RM             = rm -f

IMAKE_INCLUDE  = INCLUDES
IMAKE_TEMPLATE = Gandiva.tmpl
IMAKE_FLAGS    = 
MAKEFILE_TMP   = Makefile.tmp

Makefile ::
	@echo "Building 'Makefile.tmp'"
	@$(IMAKE) -T$(IMAKE_TEMPLATE) $(IMAKE_INCLUDE) $(IMAKE_FLAGS) -s $(MAKEFILE_TMP)
	@$(MAKE) -f $(MAKEFILE_TMP) Makefile
	@$(RM) $(MAKEFILE_TMP)
