/*
 * Copyright (C) 1999-2001 by HP Bluestone Software, Inc. All rights Reserved.
 *
 * HP Arjuna Labs,
 * Newcastle upon Tyne,
 * Tyne and Wear,
 * UK.
 *
 * $Id: JavaHarness.tmpl,v 1.7.24.1.40.1.42.1 2001/08/09 16:15:37 delsworthy Exp $
 */

/*
 *  JavaHarness.tmpl
 */

/*
 *  Inclusion of Overriding definitions.
 */

#include <JavaHarness_Override.def>

/*
 *  Inclusion of Programs definitions.
 */

#include <JavaHarness_Prog.def>

/*
 *  Inclusion of Rule definitions.
 */

#include <JavaHarness_Rule.def>

JAVAC = JavaCProg
JAVADOC = JavaDocProg
RMIC = RMICProg
JAVA = JavaProg
JAR = JarProg
CPP = CPP_PROGRAM
