/*
 * Copyright (C) 1996, 1997, 1998,
 *
 * Arjuna Solutions Limited,
 * Newcastle upon Tyne,
 * Tyne and Wear,
 * UK.
 *
 * $Id: JavaHarness.tmpl,v 1.7.24.1 2000/05/18 08:54:57 nmcl Exp $
 */

/*
 *  JavaHarness.tmpl
 */

/*
 *  Inclusion of Overriding definitions.
 */

#include <JavaHarness_Override.def>

/*
 *  Inclusion of Programs definitions.
 */

#include <JavaHarness_Prog.def>

/*
 *  Inclusion of Rule definitions.
 */

#include <JavaHarness_Rule.def>

JAVAC = JavaCProg
JAVADOC = JavaDocProg
RMIC = RMICProg
JAVA = JavaProg
JAR = JarProg
CPP = CPP_PROGRAM
