/*
 * Copyright (C) 1993
 *
 * Department of Computing Science,
 * The University,
 * Newcastle upon Tyne,
 * UK.
 *
 * $Id: Arjuna.tmpl,v 1.18 1995/10/09 08:30:13 ngdp Exp $
 */

/*
 *  Inclusion of Macro definitions.
 */

#include <Config/Macro.def>

/*
 *  Inclusion of Local definitions.
 */

#include <Config/Configure.h>

/*
 *  Inclusion of Programs definitions.
 */

#include <Config/Prog.def>

/*
 *  Inclusion of Flags definitions.
 */

#include <Config/Flag.def>

/*
 *  Inclusion of Library definitions.
 */

#include <Config/Lib.def>

/*
 *  Inclusion of Make definitions.
 */

#include <Config/Make.def>

/*
 *  Inclusion of Standard Parameter definitions.
 */

#include <Config/StdParam.def>

/*
 *  Inclusion of Rule definitions.
 */

#include <Config/Rule.def>

/*
 * Generator Default flags
 */

COMMENT
COMMENT Make generated for OSNAME OSRELEASE - MACHINE_HW
COMMENT

SHELL = /bin/sh
TOPDIR_DEFINE = TOPDIR_DEFAULT

CURDIR_DEFINE = .

MAKE_DEFINE = MAKE_PROGRAM
IMAKE_DEFINE = IMAKE_PROGRAM

MAKEDEPEND_DEFINE = MAKEDEPEND_PROGRAM

JAVAC_DEFINE = JAVAC_PROGRAM

AR_DEFINE = AR_PROGRAM
SED_DEFINE = SED_PROGRAM
RANLIB_DEFINE = RANLIB_PROGRAM
PURIFY_DEFINE = PURIFY_PROGRAM

MV_DEFINE = MV_PROGRAM
CP_DEFINE = CP_PROGRAM
RM_DEFINE = RM_PROGRAM
CAT_DEFINE = CAT_PROGRAM
MKDIR_DEFINE = MKDIR_PROGRAM
CHMOD_DEFINE = CHMOD_PROGRAM

ARFLAGS_DEFINE = ARFLAGS_DEFAULT
MAKEFLAGS_DEFINE = MAKEFLAGS_DEFAULT
IMAKEFLAGS_DEFINE = IMAKEFLAGS_DEFAULT
STUBFLAGS_DEFINE = STUBFLAGS_DEFAULT
MAKEDEPENDFLAGS_DEFINE = MAKEDEPENDFLAGS_DEFAULT

IV_CPPFLAGS_DEFINE = IV_CPPFLAGS_DEFAULT
IV_LDFLAGS_DEFINE = IV_LDFLAGS_DEFAULT
X11_LDFLAGS_DEFINE = X11_LDFLAGS_DEFAULT

INSTALL_TOPDIR_DEFINE = INSTALL_TOPDIR_DEFAULT

#ifdef UseInstalled
ARJUNA_INCLUDES = INSTALL_TOPDIR_VAR/include
#else
ARJUNA_INCLUDES = TOPDIR_VAR/Include
#endif

/*
 * Make all the first target
 */

all :: Makefile

/*
 * Include the local Imakefile.
 */

#include INCLUDE_IMAKEFILE

#ifdef NO_THREADS
LDFLAGS_DEFINE = LDFLAGS_DEFAULT
LIBRARIES_DEFINE =   xLIBRARIES_DEFAULT SYSTEM_SPECIFIC_LIBRARIES 
#else
LDFLAGS_DEFINE = LDFLAGS_DEFAULT THREAD_LDFLAGS_DEFAULT
LIBRARIES_DEFINE = xLIBRARIES_DEFAULT THREAD_LDLIBS_DEFAULT SYSTEM_SPECIFIC_LIBRARIES 
#endif

LDFLAGS_CROSS_DEFINE = LDFLAGS_CROSS_DEFAULT
LIBRARIES_CROSS_DEFINE = xLIBRARIES_DEFAULT SYSTEM_SPECIFIC_CROSS_LIBRARIES

Makefile :: Imakefile
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "CURDIR_VAR"/Imakefile"
	@echo "***"

#ifndef UseInstalled
#include <Config/MachineRules.h>

Makefile :: TOPDIR_VAR/Include/Config/Arjuna.tmpl
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Arjuna.tmpl"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Flag.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Flag.def"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Configure.h
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Configure.h"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Macro.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Macro.def"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Make.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Make.def"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Lib.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Lib.def"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Prog.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Prog.def"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/Rule.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/Rule.def"
	@echo "***"

Makefile :: TOPDIR_VAR/Include/Config/StdParam.def
	@echo
	@echo "***"
	@echo "*** WARNING : "CURDIR_VAR"/Makefile may be out of date,"
	@echo "***         : older than "TOPDIR_VAR"/Include/Config/StdParam.def"
	@echo "***"
#endif

/*
 * Common Rules
 */

#ifdef IHaveSubDirs
SubdirCommon
#else
DummyMakefilesTarget
#endif
DummyAllTarget
DependTarget($(SOURCES))
TidyTarget($(OBJECTS))
MakefileTarget
InstallTarget
StubTarget(NOPARAM)

