#
# Copyright (C) 1995, 1996
#
# Arjuna Solutions Limited,
# Newcastle upon Tyne,
# Tyne and Wear,
# UK.
#

#
# $Id: MakefileBoot.tmpl,v 1.1.2.1 2000/07/27 16:12:01 ndbi Exp $
#

MAKE           = make
IMAKE          = imake
RM             = rm -f

IMAKE_INCLUDE  = INCLUDES
IMAKE_TEMPLATE = ModuleBuildSystem.tmpl
IMAKE_FLAGS    = 
MAKEFILE_TMP   = Makefile.tmp

Makefile ::
	@echo "Building 'Makefile.tmp'"
	@$(IMAKE) -T$(IMAKE_TEMPLATE) $(IMAKE_INCLUDE) $(IMAKE_FLAGS) -s $(MAKEFILE_TMP)
	@$(MAKE) -f $(MAKEFILE_TMP) Makefile
	@$(RM) $(MAKEFILE_TMP)
