/*
 * Copyright (C) 1996,
 *
 * Department of Computing Science,
 * University of Newcastle upon Tyne,
 * Newcastle upon Tyne,
 * UK.
 *
 * $Id: JavaStubGenerator.tmpl,v 1.1 1997/07/31 09:13:08 nmcl Exp $
 */

/*
 *  JavaStubGenerator.tmpl
 */

/*
 *  Inclusion of Overriding definitions.
 */

#include <JavaStubGenerator_Override.def>

/*
 *  Inclusion of Programs definitions.
 */

#include <JavaStubGenerator_Prog.def>

/*
 *  Inclusion of Rule definitions.
 */

#include <JavaStubGenerator_Rule.def>

JAVASTUBGEN = JavaStubGenProg
