<HTML>
<HEAD>
<TITLE>Find User</TITLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<H1 ALIGN=CENTER>Find User</H1>
<HR>
Please give the <A HREF="finduserhelp.html">identifier</A> of the user you wish to locate.
<FORM METHOD="POST" ACTION="http://MACHINE/cgi-bin/finduser">
<DL>
<INPUT NAME="User Identifier" TYPE="text" MAXLENGTH=12> User Identifier
</DL>
<INPUT NAME="Submit" TYPE="submit" VALUE="OK">
<INPUT NAME="Reset" TYPE="reset">
</FORM>
<HR>
</BODY>
</HTML>
