<HTML>
<HEAD>
<TITLE>Student Registration Management</TITLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<CENTER><IMG SRC="http://MACHINE/redlion2.gif" ALIGN=MIDDLE></CENTER>
<H1 ALIGN=CENTER>Registration System Management</H1>
<HR>
Welcome to the student registration management page. Please select
the type of management you require:
<P>
<UL>
<LI><A HREF="http://MACHINE/Registration/Student.html">Student management</A>
<LI><A HREF="http://MACHINE/Registration/System.html">System management</A>
</UL>
<HR>
</BODY>
</HTML>
