<HTML>
<HEAD>
<TITLE>Inspect Student</TITLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<H1 ALIGN=CENTER>Inspect Student</H1>
<HR>
Please give the <A HREF="studenthelp.html">number</A> of the student you wish to inspect.
<FORM METHOD="POST" ACTION="http://MACHINE/cgi-bin/inspectstudent">
<DL>
<INPUT NAME="Student Number" TYPE="text" MAXLENGTH=12> Student Number
</DL>
<INPUT NAME="Submit" TYPE="submit" VALUE="OK">
<INPUT NAME="Reset" TYPE="reset">
</FORM>
<HR>
</BODY>
</HTML>
