<HTML>
<HEAD>
<TITLE>Student Registration Management</TITLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<H1 ALIGN=CENTER>Student Management</H1>
<HR>
Select option:
<P>
<UL>
<LI><A HREF="http://MACHINE/Registration/inspectstudent.html">Inspect Student</A>
<LI><A HREF="http://MACHINE/Registration/unlockstudent.html">Unlock Student</A>
</UL>
<P>
<UL>
<LI><A HREF="http://MACHINE/Registration/finduser.html">Find User</A>
<LI><A HREF="http://MACHINE/Registration/killuser.html">Kill User</A>
<LI><A HREF="http://MACHINE/cgi-bin/inspectallusers">Inspect All Users</A>
</UL>
<P>
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/logs?1">Registration Logs</A>
<LI><A HREF="http://MACHINE/cgi-bin/logs?2">New Student Index
Logs</A>
<LI>Driver Logs
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/logs?3">Examine</A>
</UL>
<LI>Record Server Logs
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/logs?4">Examine</A>
</UL>
</UL>
<HR>
<A HREF="studenthelp.html">Help</A>
</BODY>
</HTML>
