<HTML>
<HEAD>
<TITLE>Student Registration System Management</TITLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<H1 ALIGN=CENTER>System Management</H1>
<HR>
Select option:
<P>
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?3">Pause Drivers (toggle on/off)</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?6">Pause Registrations</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?7">Resume Registrations</A>
</UL>
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?4">Purge Logs</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?5">Cleanup</A>
</UL>
<UL>
<LI>Inspect ObjectStore Machines
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?10">Resources</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?11">Processes</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?12">Logs</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?15">Load</A>
</UL>
<LI>Inspect Driver Machines
<UL>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?8">Resources</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?13">Processes</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?14">Logs</A>
<LI><A HREF="http://MACHINE/cgi-bin/regsys?16">Load</A>
</UL>
</UL>
<HR>
<A HREF="systemhelp.html">Help</A>
</BODY>
</HTML>
