target
.project
.classpath
.settings
*.iml
.idea
.DS_Store
*~*
Makefile
Makefile.tmp
*.class
Configure.h
MachineRules.h
InputBuffer.java
Uid.java
Utility.java
ObjectStoreImple.java
AbstractRecord.java
ShadowingStore.java
BasicPersistentLockStore.java
out