
ECHO=/usr/ucb/echo

all : index
index : SurnameIndex.dir

SurnameIndex.dir : Surname.info
	@rm -f SurnameIndex.dir SurnameIndex.pag
	@${ECHO} -n "Building the Surname Index: "
	@ARJUNA/bin/MakeSurnameIndex
	@${ECHO} "done."

Stud.info : Source-data.test ${SOURCE}
	LOCATION/bin/BuildData ${SOURCE}

Surname.info : Stud.info
	@${ECHO} -n "Building surname reference table: "
	@ARJUNA/bin/MakeSurnameTab Stud.info /tmp/Surname.info
	@${ECHO} "done."
	@${ECHO} -n "Sorting the surname reference table: "
	@sort /tmp/Surname.info >/tmp/Surname.info_sort
	@${ECHO} "done."
	@rm /tmp/Surname.info
	@${ECHO} -n "Reducing the reference table: "
	@ARJUNA/bin/ReduceSurname < /tmp/Surname.info_sort 
	@${ECHO} "done."
	@rm -f /tmp/Surname.info_sort

Source-data.test :
	@if [ "${SOURCE}" = "" ]; then echo "Error: No source file given"; \
		exit 1; fi
	@touch Source-data.test
clean:
	@rm -f SurnameIndex.dir SurnameIndex.pag Stud.info Source-data.test Surname.info
